.container
{
	text-align: center;
}

.band
{
	background-color: #2377AF;
	color: white;
	padding: 3em 0 2em 0;
}

.band img
{
	height: 150px;
}

.descr
{
	padding: 1em;
	font-size: 1.5em;
}


.fa-graduation-cap
{
	padding: 2em;
}

.links
{
	list-style: none;
}

.links li {
	padding: 0.5em 0 0 0;
}

a
{
	#2377AF
}

.bold
{
	font-weight: bold;
}