html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

.meta {
	padding: 3em;
}

.gray {
	color: #D5D5D5;
}

.thumb {
	display: inline-block;
	height: 34em;
	margin: 1em 0.5em 1em 0.5em;
	border-radius: 0.3em;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.thumb img {
	height: 100%;
	display: inline-block;
}

.banner-shadow{
	position: relative;
	overflow: hidden;
}


.banner {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	padding: 0.7em 0;
}

.descr {
	padding: 3em;
	width: 100%
}